div.card {
    border: #111 solid 4px;
    display: flex;
    margin: 0 auto 16px auto;
    max-width: 1024px;
} div.card img {
    border-right: #111 solid 4px;
} div.card p {
    padding: 32px;
} button {
    background-color: #111;
    border: #111 solid 4px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 32px;
} button:hover {
    background-color: unset;
    color: #000;
    cursor: pointer;
}